{% extends "master.html" %}

{% block title %}
  Add Lore
{% endblock %}


{% block content %}

<form method="post">
    {% csrf_token %} 
    <div>
        <label for="id_worldname">World Name:</label>
        <input type="text" id="id_worldname" name="worldname">
    </div>

    <div>
        <label for="id_overview">World Overview:</label>
        <textarea id="id_overview" name="overview"></textarea>
    </div>
    <div>
        <label for="id_geography">Geography:</label>
        <textarea id="id_geography" name="geography"></textarea>
    </div>
    <div>
        <label for="id_culturesociety">Culture and Society:</label>
        <textarea id="id_culturesociety" name="culturesociety"></textarea>
    </div>
    <div>
        <label for="id_history">History:</label>
        <textarea id="id_history" name="history"></textarea>
    </div>
    <div>
        <label for="id_magictech">Magic and Technology:</label>
        <textarea id="id_magictech" name="magictech"></textarea>
    </div>
    <div>
        <label for="id_politics">Politics and Factions:</label>
        <textarea id="id_politics" name="politics"></textarea>
    </div>
    <div>
        <label for="id_economy">Economy and Trade:</label>
        <textarea id="id_economy" name="economy"></textarea>
    </div>
    <div>
        <label for="id_creatures">Creatures and Beasts:</label>
        <textarea id="id_creatures" name="creatures"></textarea>
    </div>
    <div>
        <label for="id_languange">Language:</label>
        <textarea id="id_languange" name="language"></textarea>
    </div>
    <div>
        <label for="id_arts">Arts and Entertainment:</label>
        <textarea id="id_arts" name="arts"></textarea>
    </div>
    <div>
        <label for="id_miscellaneous">Miscellaneous:</label>
        <textarea id="id_miscellaneous" name="miscellaneous"></textarea>
    </div>
    <button type="submit">Save</button>
</form>
    
{% endblock %}