{% extends "master.html" %}

{% block title %}
  Homepage
{% endblock %}


{% block content %}
  <div>
    <h1>Irisia's Blog</h1>
  </div>

  <h3>Feed</h3>
  
  <p>Check all of Irisia's <a href="posts/">Posts</a></p>
  <a href="writing-projects/">Writing Projects</a>

  <h3> Recent Posts </h3>
  <div class="container" style=" width: 90rem; display: flex; flex-direction: row; flex-wrap: wrap;">
    {% for post in posts %}
      <div class="card" style="width: 20rem; background-color: azure; border-style: solid; margin-left: 10px; margin-bottom: 10px;">
        <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
        <p class="card-text">{{ post.content }}</p>
      </div>
    {% endfor %}
  </div>
  

{% endblock %}