{% extends "master.html" %}

{% block title %}
  Irisia's Keep
{% endblock %}

{% block content %}
  {% load static %}
  <div class="backcolor">
    <div class="welcome-contain" style="text-align: center; margin-top: 80px; margin-bottom: 80px;">
      <h3 class="welcome" style="font-family: Georgia; font-size: xx-large; font-weight: bold; color: #65307E;">✨ WELCOME TO IRISIA'S KEEP ✨</h3>
      <hr>
    </div>
    
    <div class="homepage-description">
      <p class="welcome-message">Welcome to Irisia's Keep! This is where December Iris keeps the archives of her creations. Different worlds she created, the characters whom she treats as the villagers of the Irisian Kingdom and the people of the Neighboring Kingdoms. All the stories she weaved will be kept here and it all takes place in Irisia. The Kingdom is still under development and more places will be added soon. For now you can choose your destination below and meet wonderful people along the way. Enjoy your stay!</p>
    </div>
  
    <h3 class="overview-text" style="color: #65307E;">Where do you want to go?</h3>
    
    <div class="overview-content-container">
      <div class="element-overview">
        <img src="{% static 'images/Castle.png' %}">
        <div class="destination-overview">
          <a class="navi-titles" href="{% url 'castle' %}">The Castle</a>
          <p>There are four places in the castle, The bulletin board, kitchen, garden and the royal library</p>
        </div>
      </div>
      <div class="element-overview">
        <img src="{% static 'images/Observatory.png' %}">
        <div class="destination-overview">
          <a class="navi-titles" href="{% url 'writing-projects' %}">The Observatory</a>
          <p>The observatory is where you can find all the neighboring Kingdoms, creatures and fauna. It is the encyclopedia of the Irisian World</p>
        </div>
      </div>
      <div class="element-overview">
        <img src="{% static 'images/Village.png' %}">
        <div class="destination-overview">
          <a class="navi-titles" href="{% url 'writing-projects' %}">The Village</a>
          <p>The castle is where you can meet the villagers. Their home and their shops</p>
        </div>
      </div>
    </div>

    <div class="container-fluid cardiv">
      {% for post in posts %}
        <div class="card" style="width: 20rem; border-style: solid; margin-left: 10px; margin-bottom: 10px;">
          {% if post.image %}
            <img src="{{ post.image.url }}" alt="Post Image">
          {% else %}
            <p>No image available</p>
          {% endif %}
          <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
          <p class="card-text">{{ post.content }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <style>

    hr{
      margin-top: 30px;
      border-color: #65307E;
      width: 80%;
    }
    
    .homepage-description{
      padding: 2.5%;
      position: relative;
      margin-left: 10%;
      margin-right: 10%;
      background-color: azure;
      width: 80%;
      word-spacing: 0.5rem;
      border-radius: 50px;
      border-style: solid;
      border-width: thin;
      border-color: #65307E; 
    }

    .navi-titles{
      font-size: 30px;
      font-weight: bold;
      color: #65307E;
    }

    .welcome-message{
      font-family: Georgia;
      font-size: 20px;
    }

    .navi-titles:hover{
      color: rgb(171, 104, 177);
      text-decoration: none;
    }

    .overview-content-container{
      width: 80%;
      margin-left: 8%;
      margin-right: 8%;
    }

    .element-overview{
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;
      align-items: center;
    }

    .destination-overview{
      font-family: Georgia;
      color: #65307E;
      height: 210px;
      justify-content: center;
      margin-left: 50px;
      margin-top: 10%;
    }

  </style>
  
{% endblock %}
