{% extends "master.html" %}

{% block title %}
  Add Book
{% endblock %}


{% block content %}

<form method="post" action="{% url 'create-post' %}" enctype="multipart/form-data">
    {% csrf_token %} 

    <div>
        <label for="id_title">Post Title</label>
        <input id="id_title" name="title">
    </div>
    <div>
        <label for="id_content">Content:</label>
        <textarea id="id_content" name="content"></textarea>
    </div>
    <div>
        <input type="file" name="image" id="image" accept="image/*">
    </div>
    
    <button type="submit" value="Upload">Save</button>
</form>
    
{% endblock %}