h1{
    color: aqua;
}

.overview-text{
    text-align: center; 
    font-family: Georgia; 
    font-weight: bold; 
    margin-top: 50px;
}

.element-overview{
    display: flex;
    flex-direction: row;
}

.navi-item-contain{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navi-text{
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}